[package]
name = "kairos-trie"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bitvec = "1"
sha2 = "0.10"

[dev-dependencies]
proptest = "1"
